* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f7f7f7;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4CAF50;
  color: white;
  padding: 20px;
}

h1 {
  font-size: 32px;
}

button {
  border: none;
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  font-size: 20px;
}

button:hover {
  background-color: #3e8e41;
}

main {
  padding: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: flex;
  margin: 10px 0;
}

li input[type="text"] {
  flex-grow: 1;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  text-align: right;
  direction: rtl;
}

li span {
  font-size: 18px;
  margin-right: 10px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 24px;
  }

  li input[type="text"] {
    font-size: 16px;
  }

  button {
    font-size: 16px;
  }
}
