body {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 20px;
  direction: rtl;
}

.container {
  display: inline-block;
  margin: 50px auto;
  text-align: left;
}

h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

input[type="text"] {
  font-size: 20px;
  padding: 5px;
  width: 200px;
}

button {
  font-size: 20px;
  padding: 5px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
}

button:hover {
  background-color: #3e8e41;
}

.btn-new-list {
  background-color: #008CBA;
}
